header {
    background-color: #e3dde1;
}

body {
    background-color: #fdfbfd;
}

h1 {
    text-align: left;
    font-size: 24px;
}


h2 {
    background-color: #8d588e;
    color: #1c1c44;
    text-align: center;
    margin: 20px;
    color: #1c1c44;
}

h3 {
    color: #1c1c44;
    background-color: #9535a0;
    text-align: center;
    margin: 15px;
    text-align: center;
}

img {
    height: 250px;
    width: 225px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30;
}
